/* Variables */
:root {
  --primaryLightColor: #d4e6a5;
  --primaryColor: #476a2e;
  --primaryDarkColor: #c02c03;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBackground: #f1f5f8;
  --mainOverlay: rgba(35, 10, 36, 0.4);
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #afafaf;
  --mainRed: #bd0303;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 0.3rem;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
  --mainBorderRadius: 0.25rem;
  --smallWidth: 85vw;
  --maxWidth: 40rem;
  --fullWidth: 1170px;
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  background: var(--mainWhite);
  height: 5rem;
  display: flex;
  align-items: center;
  border-bottom: 2px solid rgb(88, 177, 230);
  box-shadow: 0 0 3px #222;
}
.nav-center {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: var(--smallWidth);
  margin: 0 auto;
  max-width: var(--fullWidth);
}
.nav-links {
  display: flex;
  align-items: center;
  list-style: none;
}
.nav-links a {
  text-transform: capitalize;
  display: inline-block;
  font-weight: bold;
  margin-right: 0.5rem;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 1.2rem;
  padding: 0.25rem 0.5rem;
  transition: var(--mainTransition);
  text-decoration: none;
  color: #222;
}
.nav-links a:hover {
  color: rgb(88, 177, 230);
}

.section-center {
  background: var(--clr-white);
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  transition: var(--transition);
  padding: 2rem;
}
.section-center:hover {
  box-shadow: var(--dark-shadow);
}
.grocery-form {
  max-width: 300px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  width: 100%;
}
.grocery-form h3 {
  color: var(--clr-primary-1);
  margin-bottom: 1.5rem;
  text-align: center;
}
.form-control {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.grocery {
  padding: 0.25rem;
  padding-left: 1rem;
  background: rgba(153, 153, 153, 0.281);
  border-top-left-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
  border-color: transparent;
  font-size: 1rem;
  flex: 1 0 auto;
  color: var(--clr-grey-5);
  margin-bottom: 10px;
}
.grocery::placeholder {
  font-family: var(--ff-secondary);
  color: var(--clr-grey-5);
}
.btn-login {
  border: none;
  display: block;
  margin-top: 20px;
  font-size: 16px;
  text-transform: capitalize;
  padding: 10px 15px;
  background-color: rgb(97, 196, 253);
  cursor: pointer;
}
.btn-login a {
  text-decoration: none;
  color: #222;
}

.btn-login:hover {
  background-color: rgb(82, 189, 250);
}

.login-error {
  text-align: center;
  margin-top: 20px;
  font-size: 17px;
  color: var(--mainRed);
}

.profile-ifno {
  text-align: center;
  padding-top: 30px;
}
.profile-ifno h1 {
  margin-bottom: 25px;
  margin-top: 30px;
}

.news-title {
  text-align: center;
  font-size: 25px;
  margin-bottom: 30px;
}

.news-item {
  background-color: #afafaf5b;
  box-shadow: 0 0 3px #222;
  margin-bottom: 15px;
  padding: 15px;
  max-width: 600px;
}
.news-item h3,
h4 {
  margin-bottom: 10px;
}

.news-item img {
  display: block;
  width: 100%;
  object-fit: cover;
}
.news-author {
  margin-top: 10px;
}
.news-content {
  margin-bottom: 10px;
}

.news-link {
  text-decoration: none;
  color: rgb(113, 176, 248);
  transition: color 0.2s linear;
}

.news-link:hover {
  color: rgb(94, 166, 248);
}

.edit-btn {
  border: 2px solid rgba(102, 204, 251, 0.623);
  background-color: transparent;
  font-size: 15px;
  padding: 5px 10px;
  margin-left: 15px;
  cursor: pointer;

  transition: border 0.2s linear, color 0.2s linear;
}

.edit-btn:hover {
  border: 2px solid rgb(102, 204, 251);
  color: rgb(48, 187, 251);
}
.add-btn__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-add {
  text-align: center;
  border: 2px solid #222;
  background-color: transparent;
  font-size: 15px;
  padding: 5px 10px;
  margin-left: 15px;
  cursor: pointer;
  transition: background-color 0.2s linear, color 0.2s linear;
}
.btn-add:hover {
  background-color: #222;
  color: #fff;
}
